<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <%# LINK TO EDIT USERS %>
    <form action="/caterco/adminmenu/users" method="GET">
<button type="submit">Edit Users</button>
</form>

    <%# LINK TO EDIT SERVICES %>
    <form action="/caterco/adminmenu/services" method="GET">
<button type="submit">Edit Services</button>
</form>
    </body>
</html>