<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <header>
        <%-include ../partials/adminheader.ejs%>
    </header>
<h1>Admin Menu</h1>
<%# LINK TO EDIT USERS %><div class = adminEditNav>
<span class=adminEditLink><a href="/caterco/admin/users">Edit Users</a></span>
<span class=adminEditLink><a href="/caterco/admin/services">Edit Services</a></span>
</div>
<br/>



<%- include ../Partials/footer.ejs %>
    </body>
</html>