<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
<%#List of users  %>
<ul>

<!--MAKES A LIST OF USERS W/ LINK TO EDIT AND DELETE-->
<%for(let i =0;i<users.length;i++)%>
<%if(users[i].admin){%><span>ADMIN  </span><%}%>
<%=users[i].username%><br/>
<a href=<%#EDIT PAGE%>>Edit</a>
<form action="/users/<%=users._id%>?_method=DELETE" method="post">
<input type="submit" value="Delete"/>
</form>
</li>
<%}%>
</ul>
<!--MAKES A LIST OF USERS W/ LINK TO EDIT AND DELETE-->


<%# LOGOUT %>
<form action="/caterco" method="GET">
<button type="submit">Logout</button>
</form>


    </body>
</html>