<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
    </head>
    <body class="edituser">
     <%- include ../Partials/adminheader.ejs %>
      <div class="bg">
<%#List of users  %>
<ul>

<!--MAKES A LIST OF USERS W/ LINK TO EDIT AND DELETE-->
<%for(let i =0;i<users.length;i++){%>
<li>
<%if(users[i].admin){%><span>ADMIN  </span><%}%>
<%=users[i].username%><br/>
<a href="/caterco/edit">Edit</a>
<form action="/caterco/admin/users/<%=users[i]._id%>?_method=DELETE" method="POST">
<button type="submit" class="btn btn-dark">Delete User</button>
</form>
</li>
<%}%>
</ul>
<!--MAKES A LIST OF USERS W/ LINK TO EDIT AND DELETE-->


<%# LOGOUT %>

</div>
<%- include ../Partials/footer.ejs %>
    </body>
</html>