<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
     <%- include ../Partials/header.ejs %>
<%#List of users  %>
<ul>

<!--MAKES A LIST OF USERS W/ LINK TO EDIT AND DELETE-->
<%for(let i =0;i<users.length;i++){%>
<%if(users[i].admin){%><span>ADMIN  </span><%}%>
<%=users[i].username%><br/>
<a href="<%#EDIT PAGE%>">Edit</a>
<form action="/users/<%=users.id%>?_method=DELETE" method="POST">
<button type="submit">Delete User</button>
</form>
</li>
<%}%>
</ul>
<!--MAKES A LIST OF USERS W/ LINK TO EDIT AND DELETE-->


<%# LOGOUT %>


<%- include ../Partials/footer.ejs %>
    </body>
</html>