<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="">Admin Services</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/caterco">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/caterco/edit">View Account</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/caterco/logout">LOG OUT</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/caterco/login">LOG IN/REGISTER</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

<%# ADD FOOD HERE %>
<form action="/caterco/admin/newservice" method="post">
        

        </select><br/>
        Name (required)<br/>
        <input type="text" name="name"><br/><br/>
        IMG (required)<br/>
        <input type="text" name="img"><br/><br/>
        Description<br/>
         <textarea name="description"></textarea><br/><br/>
         Vegitarian<br/>
         <input type="checkbox" name="vegetarian"><br/><br/>
         Category: 
        <select name="category">
          <% for (let i = 0; i < categories.length; i++) { %>
            <option value="<%=categories[i]%>"><%=categories[i]%></option>
          <%}%>
        <input type="submit" value="New Food">
      </form>





<%# LOGOUT %>
<form action="/caterco/logout" method="GET">
<button type="submit">Logout</button>
</form>


    </body>
</html>