<head><link href="/css/style.css" rel="stylesheet" type="text/css"></head>
<nav class="navbar12">
<div class="navcontain">
<a href="/caterco">Home</a>
<a href="/caterco/admin">Admin Home</a>


<form action="/caterco/logout" method="POST">
<button class="outbutton" type="submit">Log out</button>
</form>
</div>
</nav>