<nav class=navbar>
<div class=navcontain>
<ul class="navbar-nav">
<li><a href="/caterco">Home</a></li>
<li><a href="/caterco/edit">View account</a></li>
<%# IF LOGGED IN %>
<li><a href="/caterco/logout">LOG OUT</a></li>
<%# IF LOGGED OUT %>
<li><a href="/caterco/login">LOG IN/REGISTER</a></li>
</ul>
</nav>