<head><link href="/css/style.css" rel="stylesheet" type="text/css"></head>
<nav class=navbar>
<div class=navcontain>
<a href="/caterco">Home</a>
<a href="/caterco/edit">View account</a>
<%# IF LOGGED IN %>

<form action="/caterco/logout" method="POST">
<button class="outbutton" type="submit">Log out</button>
</form>

<%# IF LOGGED OUT %>
<button onclick="/caterco/login">Log in</button>

</div>
</nav>