<nav class=navbar>
<div class=navcontain>
<ul class="navbar-nav">
<li><a href="/caterco">Home</a></li>
<li><a href="/caterco/edit">View account</a></li>
<%# IF LOGGED IN %>

<form action="/caterco/logout" method="POST">
<li><button type="submit">LOG OUT</button></li>
</form>

<%# IF LOGGED OUT %>
<li><a href="/caterco/login">LOG IN/REGISTER</a></li>
</ul>
</nav>