<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
       
    </head>
    <body>
<h1 id="main">C A T E R  C O</h1>


    <ul>
        <li>
            <a href="/caterco/services">Services</a>
        </li>
    </ul>


<%# ENTER SITE %>
<form action="/caterco/login" method="GET">
<button type="submit" class="btn btn-light" id="enter">Enter</button>
</form>

    </body>
</html>
