<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class="arrival">
<h1 class="bigname">C A T E R  C O</h1>


    <div class=topreview>
    <a  href="/caterco/services">SEE OUR SERVICES!</a>
        </div>


<%# ENTER SITE %>
<form  action="/caterco/login" method="GET">
    <div class='text-center'>
        <button class ="loginbutton btn btn-light" type="submit" >Enter</button>
    </div>
</form>

    </body>
</html>
