<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class="login">
    <h1>Login</h1>

<%# GOES TO MAIN PAGE %>
<div>
<form action="/caterco/login" method="POST">
    <div class="form-group">
        <label for="inputUsername1"></label>
        <input type="text" class="form-control" id="inputUsername1" aria-describedby="usernameHelp" name="username" placeholder="Username"><br/>
    </div>
    <div class="form-group">
        <label for="inputPassword1"></label>
        <input type="password" class="form-control" id="inputPassword1" name="password" placeholder="Password"><br/>
    </div>
    <button type="submit" class="btn btn-light" id="loginbtn">Login</button>
</form>

<%# IGNORES THE SESSION MESSAGE IF NO MESSAGE EXIST %>
<%if(false){%>
<%return%>
<%} else {%>
<small><%= message %></small>
<%}%>
<%# IGNORES THE SESSION MESSAGE IF NO MESSAGE EXISTS %>

</div>

<div>
<h1>Register</h1>

<form action="/caterco/register" method="POST">
    <div class ="form-group">
        
            <label for="inputUsername4"></label>
            <input type="text" class="form-control" id="inputUsername4" name="username" placeholder="Username"><br/>
        
       
            <label for="inputPassword4"></label>
            <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password"><br/>
        
       
            <label for="inputEmail4"></label>
            <input type="text" class="form-control" id="inputEmail4" name="email" placeholder="Email Address"><br/>
       
        
            <label for="inputPayment4"></label>
            <input type="text"  class="form-control" id="inputPayment4" name="payment" placeholder="Payment"><br/>
       
    Admin: <input type="checkbox" name="admin"><br/>
    </div>
    <button type="submit" class="btn btn-light">Create Account</button>
</form>
</div>
    </body>
</html>