<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Login</h1>

    <p>This is where the user or admin will login to 
    there accounts. After hitting the login button, the user
    will be taken to the main page.</p>

<%# GOES TO MAIN PAGE %>
<form action="/caterco/main" method="GET">
    <input type="text" name="username" placeholder="Username"><br/>
    <input type="password" name="password" placeholder="Password"><br/>
    <button type="submit">Login</button><br/>
    <a href="">Create an Account</a>
</form>
    </body>
</html>