
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
    <h1>Login</h1>

    <p>This is where the user or admin will login to
    there accounts. After hitting the login button, the user
    will be taken to the main page.</p>

<%# GOES TO MAIN PAGE %>

<form action="/caterco/login" method="POST">
    <div class ="form-group">
        <label for="inputUsername1"></label>
        <input type="username" class ="form-control" name="username" id="inputUsername1" aria-describedby="usernameHelp" placeholder="Username"><br/>
    </div>
    <div class="form-group">
        <label for="inputPassword1"></label>
        <input type="password" class="form-control" id="inputPassword1" name="password" placeholder="Password"><br/>
    </div>
    <button type="submit" class="btn btn-light">Submit</button>
</form>

<%# IGNORES THE SESSION MESSAGE IF NO MESSAGE EXIST %>
<%if(false){%>
<%return%>
<%} else {%>
<small><%= message %></small>
<%}%>
<%# IGNORES THE SESSION MESSAGE IF NO MESSAGE EXISTS %>



<div>
<h1>Register</h1>
<p> This is where the user can create a new account </p>
<form action="/caterco/register" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputUsername4"></label>
            <input type="username" class="form-control" id="inputUsername4" name="username" placeholder="Username"><br/>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4"></label>
            <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password"><br/>
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4"></label>
            <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Email Address"><br/>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPayment4"></label>
            <input type="text" class="form-control" id="inputPayment4" name="payment" placeholder="Credit Card">
        </div>
        <div class="form-group">
            <label for="inputAddress"></label>
            <input type="text" class="form-control" name="address" placeholder="Address"><br/>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity"></label>
                <input type="text" class="form-control" id="inputCity" name="city" placeholder="City"><br/>
            </div>
            <div class="form-group col-md-4">
                <label for="inputState"></label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip"></label>
                <input type="text" class="form-control" id="inputZip" name="zip" placeholder="Zip">
            </div>

        </div>
    </div>
    Admin: <input type="checkbox" name="admin"><br/>
    <button type="submit">Create Account</button>
</form>
</div>
    </body>
</html>
