<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Login</h1>

    <p>This is where the user or admin will login to
    there accounts. After hitting the login button, the user
    will be taken to the main page.</p>

<%# GOES TO MAIN PAGE %>
<div>
<form action="/caterco/login" method="POST">
    <input type="text" name="username" placeholder="Username"><br/>
    <input type="password" name="password" placeholder="Password"><br/>
    <button type="submit">Login</button><br/>
</form>

<%# IGNORES THE SESSION MESSAGE IF NO MESSAGE EXIST %>
<%if(false){%>
<%return%>
<%} else {%>
<small><%= message %></small>
<%}%>
<%# IGNORES THE SESSION MESSAGE IF NO MESSAGE EXISTS %>

</div>

<div>
<h1>Register</h1>
<p> This is where the user can create a new account </p>
<form action="/caterco/register" method="POST">
    Username: <input type="text" name="username"><br/>
    Password: <input type="password" name="password"><br/>
    Email: <input type="text" name="email"><br/>
    Credit Card: <input type="text" name="payment"><br/>
    Admin: <input type="checkbox" name="admin"><br/>
    <button type="submit">Create Account</button>
</form>
</div>
<%- include ./Partials/footer.ejs %>
    </body>
</html>