<!DOCTYPE html>
<html lang="\en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    This be where the menu be.

    <a href="/caterco">Return to Front Page</a>
    </body>
</html>