<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <body class="previewpage">
    <h1 id="preview">Preview of Services</h1>
    <div class= "showServ">
    <%# iframe of all services, without the add functionality %>
    <iframe class = "preview" src="./showServices" >
    </iframe>
    </div>
    <div>Interested in our services?<br/>
    <form action="/caterco/register" method="POST">
  
    <div class ="form-group">
        
            <label for="inputUsername4"></label>
            <input type="text" class="form-control" id="inputUsername4" name="username" placeholder="Username"><br/>
        
       
            <label for="inputPassword4"></label>
            <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password"><br/>
        
       
            <label for="inputEmail4"></label>
            <input type="text" class="form-control" id="inputEmail4" name="email" placeholder="Email Address"><br/>
       
        
            <label for="inputPayment4"></label>
            <input type="text"  class="form-control" id="inputPayment4" name="payment" placeholder="Payment"><br/>
    </div>
    <button type="submit" class="btn btn-light" id="previewbtn">Create Account</button>
</form></div>
    </body>
</html>