<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Preview of Services</h1>
    <%# iframe of all services, without the add functionality %>
    
    <div>Interesting in our services?<br/>
    <form action="/caterco/main" method="GET">
    Username: <input type="text" name="username"><br/>
    Password: <input type="password" name="password"><br/>
    Email: <input type="text" name="email"><br/>
    Credit Card: <input type="text" name="payment"><br/>
    <button type="submit">Create Account</button>
</form></div>
    </body>
</html>