<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Confirm Your Order!</h1>
    
    <p>This page comes after you place your order.
    Here the user can review the order they placed and confirm it. The user can also access their account settings from here.
    </p>

<p> Will take you to account settings. The user can edit their info and edit orders they placed. </p>
<%# LINK TO ACCOUNT SETTINGS %>
<a href="/caterco/edit">Your account</a>
    
<p> Will take you to the thank you page after submitting order. </p>

<%# LINK TO THANKYOU PAGE %>
<form action="/caterco/main/confirm/thankyou" method="GET">
<button type="submit">Confirm</button>
</form>

<p> Logout will take you back to arrival page.</p>
<%# LOGOUT %>
<form action="/caterco" method="GET">
<button type="submit">Logout</button>
</form>
    </body>
</html>