<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Confirm Your Order!</h1>

    

<%# LINK TO ACCOUNT SETTINGS %>
<form action="/caterco/editmenu" method="GET">
    <button type="submit">Your Account</button>
</form>

<%# LINK TO THANKYOU PAGE %>
<form action="/caterco/main/confirm/thankyou" method="GET">
<button type="submit">Confirm</button>
</form>


<%# LOGOUT %>
<form action="/caterco" method="GET">
<button type="submit">Logout</button>
</form>
    </body>
</html>