<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body class="mainimg">
     <%- include ../Partials/header.ejs %>
    <h1 class="main">WELCOME TO CATERCO!</h1>


    <%# LINK TO ACCOUNT SETTINGS %>
    <a href="/caterco/edit">Your Account</a>


    <%# LINK TO NEW ORDER PAGE %>
    <a href="/caterco/main/neworder">Order</a>


    <%# LINK TO CONFIRM PAGE %>
    <a href="/caterco/main/confirm">Confirm Your Order</a>



<%# LOGOUT %>
<%- include ../Partials/footer.ejs %>
    </body>
</html>