<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>This is the main page!</h1>

    <p>This is the main page that comes after logging in. The user
    can get to their account settings where they can edit their info and orders.</p>

<%# LINK TO ACCOUNT SETTINGS %>
<a href="/caterco/editmenu">Your Account</a>
    

<%# LINK TO CONFIRM PAGE %>
<a href="/caterco/main/confirm">Order</a>


<%# LOGOUT %>
<a href="/caterco">Logout</a>


    </body>
</html>