<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>This is the main page!</h1>

    <p>This is the main page that comes after logging in. The user
    can get to their account settings where they can edit their info and orders.</p>

<p> User will be taken to the edit  menu, user account settings, 
where they can edit their info and orders they placed. </p>
<%# LINK TO ACCOUNT SETTINGS %>
<a href="/caterco/edit">Your Account</a>
    
<p> This will take you to the confirm order page. </p>
<%# LINK TO CONFIRM PAGE %>
<a href="/caterco/main/confirm">Order</a>

<p> Will take you back to arrival page. </p>
<%# LOGOUT %>
<a href="/caterco">Logout</a>


    </body>
</html>