<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>This is the main page!</h1>

<%# LINK TO ACCOUNT SETTINGS %>
<form action="/caterco/editmenu" method="GET">
    <button type="submit">Your Account</button>
</form>


<%# LINK TO CONFIRM PAGE %>
<form action="/caterco/main/confirm" method="GET">
<button type="submit">Order</button>
</form>


<%# LOGOUT %>
<form action="/caterco" method="GET">
<button type="submit">Logout</button>
</form>

    </body>
</html>