<!DOCTYPE html>
<html lang="en">
    <head>
    
        <title></title>
        <meta charset="UTF-8">
    </head>
    <body>
    <div class="food options">
    <%# FOOD OPTIONS GO HERE %>
    <%# Nested for loops, top one checks category array, second one checks 
    for match, then renders if it matches. category names are at 
    the top of the outer loop, dividers at bottom %>
    <input type="date" data-date-inline-picker="true" />
    <form action="/caterco/main/confirm" method="GET"><br/>
        <button type="submit">Confirm Your Order</button>
    </form><br/>

    <a href="/caterco/edit">Your Account</a><br/>
    <a href="/caterco/main">Main Page</a><br/>
    <form action="/caterco/logout" method="POST">
        <button type="submit">Logout</button>
    </form>


    
    </div>
    
    </body>
</html>