<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Thank you for your oder!</h1>

    <p>This page comes after confirming your order.</p>


<%# LINK TO MAIN PAGE %>
<a href="/caterco/main">Return to Main Page</a>



<%# LOGOUT %>
<form action="/caterco" method="GET">
<button type="submit">Logout</button>
</form>
    </body>
</html>