<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>

<%# LINK TO ORDER SETTINGS %>
<form action="/caterco/edit/orders" method="GET">
    <button type="submit">Edit Orders</button>
</form>


<%# LINK TO INFO SETTINGS %>
<form action="/caterco/edit/info" method="GET">
<button type="submit">Edit Info</button>
</form>

<%# RETURNS USER TO MAIN PAGE %>

<%# IF USER IS ADMIN: %>
<form action="/caterco/admin" method="GET">
    <button type="submit">Return to Main Page</button>
</form>

<%# IF USER IS NOT ADMIN: %>
<form action="/caterco/main" method="GET">
    <button type="submit">Return to Main Page</button>
</form>



<%# LOGOUT %>
<form action="/caterco/logout" method="POST">
<button type="submit">Logout</button>
</form>
    </body>
</html>