<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    INFO FOR USER HERE

    <%# UPDATE USER INFO %>
    <form action="/caterco/editmenu_method=PUT" method="POST">
    <button type="submit">Update Info</button>
    </form>


    <%# LOGOUT %>
    <div class=logout><form action="/caterco/logout" method="POST">
<button type="submit">Logout</button>
</form></div>
    
    </body>
</html>