<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>


<%# LINK TO ORDER SETTINGS %>
<<form action="/caterco/editmenu/orders" method="GET">
    <button type="submit">Edit Orders</button>
</form>


<%# LINK TO INFO SETTINGS %>
<form action="/caterco/editmenu/info" method="GET">
<button type="submit">Edit Info</button>
</form>
    </body>
</html>