<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
 <%- include ../Partials/header.ejs %>
    
<h4>Edit Your Order</h4>
<%# LINK TO ORDER SETTINGS %>
<form action="/caterco/edit/orders" method="GET">
    <button type="submit">Edit Orders</button>
</form><br/>

<h4>Edit Your Info</h4>
<%# LINK TO INFO SETTINGS %>
<form action="/caterco/edit/info" method="GET">
<button type="submit">Edit Info</button>
</form><br/>

<%# RETURNS USER TO MAIN PAGE %>
<% if(foundUser.admin) { %> 
    <%# IF USER IS ADMIN: %>
    <h4>Admin Menu</h4>
    <form action="/caterco/admin" method="GET" id="admin">
        <button type="submit" >Return to Main Page</button>
    </form><br/>
<% } %>

<h4>Main Menu</h4>
<%# IF USER IS NOT ADMIN: %>
<form action="/caterco/main" method="GET">
    <button type="submit">Return to Main Page</button>
</form><br/>
<%- include ../Partials/footer.ejs %>
    </body>
</html>