<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class="editpage">
 <%- include ../Partials/header.ejs %><br/>
    

<%# LINK TO ORDER SETTINGS %>
<form action="/caterco/edit/orders" method="GET">
    <button type="submit" class="btn btn-dark">Edit Orders</button>
</form><br/>


<%# LINK TO INFO SETTINGS %>
<form action="/caterco/edit/info" method="GET">
<button type="submit" class="btn btn-dark">Edit Info</button>
</form><br/>

<%# RETURNS USER TO MAIN PAGE %>
<% if(foundUser.admin) { %> 
    <%# IF USER IS ADMIN: %>
    <h4>Admin</h4>
    <form action="/caterco/admin" method="GET" id="admin">
        <button type="submit" class="btn btn-dark">Home</button>
    </form><br/>
<% } %>


<%# IF USER IS NOT ADMIN: %>
<h4>User</h4>
<form action="/caterco/main" method="GET">
    <button type="submit" class="btn btn-dark">Home</button>
</form><br/>
<%- include ../Partials/footer.ejs %>
    </body>
</html>